* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  padding: 16px;
  background-color: #CED3D9;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 540px;
  padding: 20px 24px 23px 20px;
  background-color: #0B0C12;
  border-radius: 10px;
}
.header-texto p {
  font-size: 0.938rem;
  line-height: 1.25rem;
  color: #F5F7FA;
}
.header-texto h3 {
  margin-top: 4px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.938rem;
  color: #F5F7FA;
}
.header-logo img {
  max-width: 60px;
  max-height: 40px;
}
@media (min-width: 768px) {
  .header {
    border-radius: 20px;
    padding: 27px 39px 25px 32px;
  }
  .header-texto p {
    font-size: 1.125rem;
    line-height: 1.438rem;
  }
  .header-texto h3 {
    margin-top: 8px;
    font-size: 2rem;
    line-height: 2.625rem;
  }
  .header-logo img {
    max-width: 72px;
    max-height: 48px;
  }
}

/* MAIN */
.main {
  background: #FFFFFF;
  width: 100%;
  max-width: 540px;
  padding: 24px 20px;
  border-radius: 10px;
}
.main-titulo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  color: #0B0C12;
}
@media (min-width: 480px) {
  .main {
    padding: 30px 40px 40px;
  }
}
@media (min-width: 768px) {
  .main {
    border-radius: 20px;
  }
  .main-titulo {
    font-size: 2rem;
    line-height: 2.625rem;
  } 
}

/* 
  MAIN
   ↳ GRÁFICO 
*/
.main-grafico {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 25px 0;
}
.main-grafico-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  position: relative;
}
.main-grafico-item-barra {
  width: 100%;
  height: 150px;
  background-color: #0B0C12;
  border-radius: 2px;
  transition: .4s;
  cursor: pointer;
}
.main-grafico-item-barra.barra-destaque {
  background-color: #18A0FB;
}
.main-grafico-item-barra:hover {
  opacity: .8;
}
.main-grafico-item-dia {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: #0B0C12;
}
.main-grafico-item-valor {
  visibility: hidden;
  position: absolute;
  top: -48px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  padding: 8px 9px;
  background-color: #18A0FB;
  color: #F5F7FA;
  border-radius: 5px;
  transition: .4s;
  opacity: 0;
}
.main-grafico-item-barra:hover ~ .main-grafico-item-valor {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 480px) {
  .main-grafico-item-barra {
    border-radius: 5px;
  }
}
@media (min-width: 768px) {
  .main-grafico {
    gap: 17px;
    padding: 66px 0 33px;
  }
  .main-grafico-item {
    gap: 9px;
  }
  .main-grafico-item-dia {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  } 
}

/* 
  MAIN
   ↳ TEXTOS 
*/
.main-texto {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #CED3D9;
  padding-top: 24px;
}
.main-texto-total h2 {
  margin-top: 4px;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.4375rem;
  color: #0B0C12;
}
.main-texto-total p,
.main-texto-porcentagem h4,
.main-texto-porcentagem p {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: -0.02rem;
  color: #0B0C12;
}
.main-texto-porcentagem h4 {
  text-align: right;
  font-weight: 700;
}
@media (min-width: 768px) {
  .main-texto {
    border-top: 2px solid #CED3D9;
    padding-top: 32px;
  }
  .main-texto-total h2 {
    margin-top: 2px;
    font-size: 3rem;
    line-height: 3.875rem;
  }
  .main-texto-total p,
  .main-texto-porcentagem h4,
  .main-texto-porcentagem p {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.01rem;
  }
}

/* SKELETONS */
.skeleton {
  border-radius: 10px;
  background-color: #c9c9c9;
  animation: skeletonAnimation .7s ease-in-out infinite alternate-reverse;
}
@keyframes skeletonAnimation {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.header-texto h3.skeleton {
  margin-top: 4px;
  width: 102px;
  height: 31px;
}
.main-grafico-item-dia.skeleton {
  border-radius: 4px;
  width: 24px;
  height: 16px;
}
.main-texto-total h2.skeleton {
  width: 130px;
  height: 39px;
}
.main-texto-porcentagem h4.skeleton {
  width: 44px;
  height: 21px;
  border-radius: 5px;
  margin-left: auto;
}
@media(min-width: 768px) {
  .main-grafico-item-dia.skeleton {
    width: 32px;
    height: 18px;
  }
  .main-texto-total h2.skeleton {
    width: 214px;
    height: 62px;
  }
  .main-texto-porcentagem h4.skeleton {
    width: 53px;
    height: 23px;
  }
  .header-texto h3.skeleton {
    margin-top: 8px;
    width: 137px;
    height: 42px;
  }
}